<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileProliferator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FileProliferator.Properties.Settings>
            <setting name="inputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="outputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="textureDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="refDirectory" serializeAs="String">
                <value />
            </setting>
        </FileProliferator.Properties.Settings>
    </userSettings>
</configuration>